<div class="game-header">
  <span>Game ID: {{ gameId }}</span>
  <button mat-button (click)="goHome()" class="home-button">Back to Home</button>
</div>

<div class="players">
  <mat-chip-set>
    <mat-chip
      *ngFor="let player of players; index as i"
      [class.current-player]="i === currentPlayerIndex"
      [class.eliminated-player]="eliminatedPlayers.has(i)"
    >
      {{ player.name }} | {{ scores[i] }}
    </mat-chip>
  </mat-chip-set>
</div>

<div class="dice-container">
  <ng-container *ngFor="let die of dice">
    <ng-container *ngIf="die === 0; else realDie">
      <img
        class="die-image"
        src="assets/images/die-ready.svg"
        alt="Ready die"
      />
    </ng-container>
    <ng-template #realDie>
      <img
        class="die-image"
        [src]="'assets/images/die-' + die + '.svg'"
        alt="Die showing ' + die"
      />
    </ng-template>
  </ng-container>
</div>

<div class="turn-controls">
  <span class="turn-score">Current Turn: {{ turnScore }}</span>
  <button
    mat-raised-button
    color="primary"
    (click)="rollDice()"
    [disabled]="rolling || (hasRolled && bankedDice.length === 0)"
  >
    {{ hasRolled ? 'Roll Again' : 'Roll' }}
  </button>
  <button mat-raised-button color="accent" (click)="endTurn()">End Turn</button>
</div>

<div class="score-options">
  <ng-container *ngIf="scoringOptions.length > 0">
    <div class="scoring-list">
      <div
        *ngFor="let option of scoringOptions"
        class="scoring-option"
        (click)="bank(option)"
      >
        {{ option.label }} ({{ option.score }})
      </div>
    </div>
  </ng-container>

  <div class="message warning" *ngIf="noScoreMessage">
    No dice have scored. You must end your turn.
  </div>

  <div class="message success" *ngIf="allDiceScoredMessage">
    All dice scored. You may roll again.
  </div>

  <div class="message info" *ngIf="finalRound && !gameOver">
    Final round! All players have one last chance to beat the top score.
  </div>

  <div class="message success" *ngIf="gameOver">
    {{ winnerName }} wins the game!
  </div>
</div>
