<div class="game-header">
  <h2 class="now-playing">Now playing: {{ getActivePlayerName() }}</h2>
  <span></span>
  <button mat-button (click)="goHome()" class="home-button">Back to Home</button>
</div>

<div class="players">
  <mat-chip-set>
    <mat-chip
      *ngFor="let player of players; let i = index"
      [class.current-player]="i === currentPlayerIndex"
      [class.enlarged]="gameMode === 'local' && i === currentPlayerIndex || gameMode === 'remote' && player.uid === myPlayerId"
      [class.eliminated-player]="player.eliminated">
      {{ player.name }} | {{ scores[i] }}
    </mat-chip>
  </mat-chip-set>
</div>

<app-dice-display
  [dice]="displayDice"
  [rolling]="rolling"
  (animationComplete)="onAnimationDone()">
</app-dice-display>

<div class="score-options game-messages debug-container">
  <div>dice {{ dice | json }}</div>
  <div>bankedThisTurn {{ bankedThisTurn | json }}</div>
  <div>bankedDice {{ bankedDice | json }}</div>
  <div>scoreOpts {{ scoringOptions | json }}</div>
</div>

<div class="turn-controls">
  
  <button mat-button (click)="rollDice()" [disabled]="rolling">Roll</button>
  <button mat-button (click)="endTurn()">End Turn</button>
</div>

<div class="scoring-options">
  <h3>Scoring Options</h3>
  <div *ngFor="let option of scoringOptions">
    <button mat-button (click)="bank(option)">
      {{ option.join(', ') }} ({{ calcScore(option) }})
    </button>
  </div>
</div>
